@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron card card-image" style="        background-image: url(https://behague.com/files/2016-08/1471597921_valkenboskwartier-bg.jpg);">
    <div class="text-white text-center py-5 px-4">
        <div>
            <div style="background: rgba(0, 0, 0, 0.7)">
                <h1 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Buurt App Regentesse en Valkenboskwartier</strong></h1>
                <p class="mx-5 mb-5">
                    Welkom bij de BuurtApp van Regentesse en Valkenboskwartier, klik op registreren om een account aan te maken, heeft u al een account? Log dan in met de betreffende knop.
                </p>
            </div>
            <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Register" role="button">Registreren</a>
            <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login" role="button">Log in</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Regentesse en Valkenboskwartier</strong></h1>
            <p>Net buiten het centrum van Den Haag ligt het Regentesse- en Valkenboskwartier, dit is een bruisende stadswijk met een hoop veelzijdige en diverse bewoners. <br />Deze wijk zit vol met jonge mensen, 67% van de mensen is hier onder de 44, en doordat jongere mensen er om bekend staan dat zij gemiddeld beter om kunnen gaan met elektronica leek het ons de perfecte regio om onze wijkapplicatie uit te brengen! <br />Doormiddel van deze applicatie willen wij ervoor zorgen dat de mensen uit de wijk beter met elkaar kunnen communiceren en uiteindelijk makkelijker meldingen over hun wijk kunnen mededelen. De applicatie die wij aanbieden gaat gebruikers de mogelijkheid om meldingen door te geven over de wijken, dit kan verschillen van het doorgeven van een kapotte straatlantaarn, tot het doorgeven van de geluidsoverlast van een buurman. Omdat deze klachten misschien spannend kunnen zijn om direct door te geven is het voor de gebruiker ook mogelijk om de meldingen anoniem door te geven, dit kan zorgen voor een groter gevoel van veiligheid. Het is tevens ook mogelijk voor de gebruikers om chats te plaatsen onder meldingen om erop te reageren, uiteraard worden deze meldingen en chats goed gemodereerd en gaan wij proberen te zorgen om een gezellig en veilig platform neer te zetten voor de inwoners van de wijk. <br /> Hopelijk geniet u van de applicatie en zal het u ondersteunen tijdens uw leven in deze wijk!</p>
        </div>

    </div>
</div>

