@{
}

<h1> Privacybeleid voor OpenSorcerers BuurtApp </h1>

<p> Bij BuurtApp, toegankelijk via http://www.buurtapp.nl, is een van onze belangrijkste prioriteiten de privacy van onze bezoekers. Dit privacybeleidsdocument bevat soorten informatie die wordt verzameld en vastgelegd door BuurtApp en hoe we deze gebruiken. </p>

<p> Als u nog vragen heeft of meer informatie wenst over ons privacybeleid, aarzel dan niet om contact met ons op te nemen. </p>

<p> Dit privacybeleid is alleen van toepassing op onze online activiteiten en is geldig voor bezoekers van onze website met betrekking tot de informatie die ze hebben gedeeld en / of verzameld in BuurtApp. Dit beleid is niet van toepassing op informatie die offline of via andere kanalen dan deze website wordt verzameld. Ons privacybeleid is opgesteld met behulp van de <a href="https://www.privacypolicyonline.com/privacy-policy-generator/"> gratis generator voor privacybeleid </a>. </p>

<h2> Toestemming </h2>

<p> Door onze website te gebruiken, stemt u hierbij in met ons privacybeleid en gaat u akkoord met de voorwaarden ervan. </p>

<h2> Informatie die we verzamelen </h2>

<p> De persoonlijke informatie die u wordt gevraagd te verstrekken, en de redenen waarom u wordt gevraagd deze te verstrekken, zal u duidelijk worden gemaakt op het moment dat we u vragen om uw persoonlijke gegevens te verstrekken. </p>
<p> Als u rechtstreeks contact met ons opneemt, kunnen we aanvullende informatie over u ontvangen, zoals uw naam, e-mailadres, telefoonnummer, de inhoud van het bericht en / of de bijlagen die u ons toestuurt, en alle andere informatie die u mogelijk wilt verstrekken . </p>
<p> Wanneer u zich registreert voor een account, kunnen we om uw contactgegevens vragen, inclusief items zoals naam, bedrijfsnaam, adres, e-mailadres en telefoonnummer. </p>

<h2> Hoe we uw informatie gebruiken </h2>

<p> We gebruiken de informatie die we verzamelen op verschillende manieren, onder meer om: </p>

<ul>
<li> Bieden, beheren en onderhouden van onze website </li>
<li> Verbeteren, personaliseren en uitbreiden van onze website </li>
<li> Begrijpen en analyseren hoe u onze website gebruikt </li>
<li> Nieuwe producten, services, functies en functionaliteit ontwikkelen </li>
<li> Met u communiceren, rechtstreeks of via een van onze partners, ook voor klantenservice, om u updates en andere informatie met betrekking tot de website te verstrekken, en voor marketing- en promotiedoeleinden. </li>
<li> U e-mails sturen </li>
<li> Zoek en voorkom fraude </li>
</ul>

<h2> Logbestanden </h2>

<p> BuurtApp volgt een standaardprocedure voor het gebruik van logbestanden. Deze bestanden registreren bezoekers wanneer ze websites bezoeken. Alle hostingbedrijven doen dit en maken deel uit van de analyse van hostingservices. De informatie die door logbestanden wordt verzameld, omvat internetprotocol (IP) -adressen, browsertype, internetprovider (ISP), datum- en tijdstempel, verwijzings- / exitpagina's en mogelijk het aantal klikken. Deze zijn niet gekoppeld aan enige informatie die persoonlijk identificeerbaar is. Het doel van de informatie is om trends te analyseren, de site te beheren, de bewegingen van gebruikers op de website te volgen en demografische informatie te verzamelen. </p>

<h2> Cookies en webbakens </h2>

<p> Net als elke andere website maakt BuurtApp gebruik van 'cookies'. Deze cookies worden gebruikt om informatie op te slaan, inclusief de voorkeuren van bezoekers, en de pagina's op de website die de bezoeker heeft bezocht of bezocht. De informatie wordt gebruikt om de gebruikerservaring te optimaliseren door onze webpagina-inhoud aan te passen op basis van het browsertype van bezoekers en / of andere informatie. </p>

<p> Voor meer algemene informatie over cookies, lees <a href="https://www.cookieconsent.com/what-are-cookies/"> "Wat zijn cookies" van Cookie Consent </a>. </ p>



<h2> Privacybeleid van advertentiepartners </h2>

<P> U kunt deze lijst raadplegen om het privacybeleid van elk van de advertentiepartners van BuurtApp te vinden. </p>

<p> Advertentieservers of advertentienetwerken van derden gebruiken technologieën zoals cookies, JavaScript of webbakens die worden gebruikt in hun respectievelijke advertenties en links die op BuurtApp verschijnen en die rechtstreeks naar de browser van de gebruikers worden gestuurd. Ze ontvangen automatisch uw IP-adres wanneer dit gebeurt. Deze technologieën worden gebruikt om de effectiviteit van hun advertentiecampagnes te meten en / of om de advertentie-inhoud die u ziet op websites die u bezoekt te personaliseren. </p>

<p> Houd er rekening mee dat BuurtApp geen toegang heeft tot of controle heeft over deze cookies die worden gebruikt door externe adverteerders. </p>

<h2> Privacybeleid van derden </h2>

<p> Het privacybeleid van BuurtApp is niet van toepassing op andere adverteerders of websites. Daarom raden we u aan om het respectieve privacybeleid van deze externe advertentieservers te raadplegen voor meer informatie. Het kan hun praktijken en instructies bevatten over hoe u zich kunt afmelden voor bepaalde opties. </p>

<p> U kunt ervoor kiezen om cookies uit te schakelen via uw individuele browseropties. Voor meer gedetailleerde informatie over cookiebeheer met specifieke webbrowsers, kunt u deze vinden op de respectievelijke websites van de browsers. </p>

<h2> CCPA-privacyrechten (verkoop mijn persoonlijke gegevens niet) </h2>

<p> Onder de CCPA hebben consumenten in Californië onder andere het recht om: </p>
<p> Verzoek dat een bedrijf dat de persoonlijke da van een consument ophaalt
