@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset wachtwoord bevestiging";
}

<h1>@ViewData["Title"]</h1>
<p>
    Uw wachtwoord is gewijzigd. Klik <a asp-page="./Login">here om in te loggen</a>.
</p>
