.brb
{
    border: 1px solid #ddd;
}

.padding {
    padding-top: .5em;
    padding-bottom: .5em;
}

#content
{
    margin: 0;
}

.nomargin
{
    margin-right:0;
    margin-left: 0;
}

#melding-afb img 
{
    max-width: 100%;
    max-height: 100%;
}